{# templates/articles/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome to my first twigpage!{% endblock %}
{% block body %}

<h1 class="md-3"> Great Success </h1>
<p> Pha, easy. Get the new string first try: <br>Here-> {{ somevar }}</p>

{% endblock %}