{# templates/articles/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Welcome to my first twigpage!{% endblock %}</title>
</head>
<body>
<h1> Great Success </h1>
<p> Pha, easy. Get the new string first try: <br>Here-> {{ somevar }}</p>

</body> 
</html>